apiVersion: apps/v1
kind: Deployment
metadata:
  labels:
    app: wasmcloud-operator
  name: wasmcloud-operator
spec:
  selector:
    matchLabels:
      app: wasmcloud-operator
  template:
    metadata:
      labels:
        app: wasmcloud-operator
    spec:
      serviceAccountName: wasmcloud-operator
      containers:
        - image: ghcr.io/wasmcloud/wasmcloud-operator:latest
          imagePullPolicy: Always
          name: wasmcloud-operator
          ports:
            - containerPort: 8443
              name: https
              protocol: TCP
          env:
            - name: RUST_LOG
              value: info
            - name: POD_NAMESPACE
              valueFrom:
                fieldRef:
                  fieldPath: metadata.namespace
---
apiVersion: v1
kind: ServiceAccount
metadata:
  name: wasmcloud-operator
  labels:
    app: wasmcloud-operator
---
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  name: wasmcloud-operator
rules:
  - apiGroups:
      - ""
    resources:
      - secrets
      - services
      - configmaps
      - serviceaccounts
    verbs:
      - get
      - list
      - watch
      - create
      - delete
      - patch
      - update
  - apiGroups:
      - apps
    resources:
      - deployments
    verbs:
      - get
      - list
      - watch
      - create
      - delete
      - patch
      - update
  - apiGroups:
      - rbac.authorization.k8s.io
    resources:
      - rolebindings
      - roles
    verbs:
      - get
      - list
      - watch
      - create
      - delete
      - patch
  - apiGroups:
      - apiextensions.k8s.io
    resources:
      - customresourcedefinitions
    verbs:
      - get
      - list
      - watch
      - create
      - delete
      - patch
  - apiGroups:
      - apiregistration.k8s.io
    resources:
      - apiservices
    verbs:
      - create
      - delete
      - get
      - list
      - patch
      - update
  - apiGroups:
      - k8s.wasmcloud.dev
    resources:
      - wasmcloudhostconfigs
      - wasmcloudhostconfigs/status
    verbs:
      - "*"
---
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRoleBinding
metadata:
  name: wasmcloud-operator
roleRef:
  apiGroup: rbac.authorization.k8s.io
  kind: ClusterRole
  name: wasmcloud-operator
subjects:
  - apiGroup: ""
    kind: ServiceAccount
    name: wasmcloud-operator
    namespace: default
---
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRoleBinding
metadata:
  name: wasmcloud-operator-delegator
roleRef:
  apiGroup: rbac.authorization.k8s.io
  kind: ClusterRole
  name: system:auth-delegator
subjects:
  - apiGroup: ""
    kind: ServiceAccount
    name: wasmcloud-operator
    namespace: default
---
apiVersion: v1
kind: Service
metadata:
  labels:
    app: wasmcloud-operator
  name: wasmcloud-operator
spec:
  ports:
    - name: https
      port: 8443
      protocol: TCP
      targetPort: https
  selector:
    app: wasmcloud-operator
  type: ClusterIP
